@import "commons.css";

body{
     background-color: black;
}
.container{
    width: 500px; height: 500px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    /*flex-direction: column-reverse;*/
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.sq{
    width: 10px; height: 10px;
    user-select: none;
}
